<div class="wrapper">
  <div class="left-items">
    <img
      class="logo"
      src="assets/logo.svg"
      alt="logo" />
    <div class="title">
      <p class="name">Світ Іграшок</p>
      <p class="slogan">Чудові дитячі іграшки в хороші руки!</p>
    </div>
  </div>
  <div class="right-items">
    <button
      mat-fab
      class="phone-icon"
      (click)="phone()">
      <mat-icon>phone_in_talk</mat-icon>
    </button>
    <div class="right-text">
      <p class="phone-me">Подзвоніть нам</p>
      <p class="phone-number">+380 123456789</p>
    </div>
  </div>
</div>
