<img
  class="banner"
  src="assets/DabUsBanner.png"
  alt="banner-img" />
<article>
  <h2 class="h3main b f24 title">Світ іграшок</h2>
  <p>
    «Світ Іграшок» - найбільша українська мережа магазинів іграшок. Наша мета -
    дарувати, дивувати і трішечки дуріти, наповнюючи життя позитивними емоціями.
    Ми віримо, що дорослих не існує, тому асортимент магазину «Світ Іграшок»
    настільки широкий, що знайти підходящу іграшку можна як для новонародженої
    дитини, так і для дорослого.
  </p>
  <h2 class="h3main b">Наша місія</h2>
  <p>
    Ми робимо батьків героями для дітей, пропонуємо широкий асортимент іграшок
    та подарунків, перші приносимо тренди на ринок, забезпечуємо сервіс вище
    очікування.
  </p>
  <h2 class="h3main b">Наші Цінності</h2>
  <ul>
    <li class="p11">
      Ми віримо, що найкращий подарунок - той, що робить щасливим дитину!
    </li>
    <li class="p11">Ми хочемо, щоб батьки були героями для своїх дітей!</li>
    <li class="p13">Ми допомагаємо батькам будувати відносини з дітьми!</li>
  </ul>
  <h2 class="h3main b">Сертифіковані іграшки</h2>
  <p>
    Здійснюючи покупку в магазині будьте впевнені, що іграшка буде не тільки
    красивою і розвиваючою, але і безпечною. Це обумовлено тим, що СІ працює
    тільки з виробниками та офіційними постачальниками, які надають сертифікати
    автентичності на іграшки.
  </p>
  <h2 class="h3main b">Світ Іграшок - це:</h2>
  <ul>
    <li class="p11">зручна навігація по сайту</li>
    <li class="p11">різні варіанти доставки по Україні</li>
    <li class="p11">самовивіз, адресна або кур'єрська доставка</li>
    <li class="p11">безкоштовна доставка</li>
  </ul>
</article>
