<swiper-container
  autoplay-delay="7500"
  speed="1000"
  class="banner">
  <swiper-slide class="slide1">
    <div class="text">
      <img
        src="/assets/main-page-slider/Ribbon.svg"
        alt="" />
      <h1>
        Все,<br />
        для вашого малюка!
      </h1>
      <p>
        Обирай іграшки просто незамінні для <br />відпочинку і навчання дитини
      </p>
      <button mat-raised-button>Детальніше</button>
    </div>
  </swiper-slide>
  <swiper-slide class="slide2">
    <div class="text">
      <img
        src="/assets/main-page-slider/Ribbon2.svg"
        alt="" />
      <h1>
        Все,<br />
        для вашого малюка!
      </h1>
      <p>
        Обирай іграшки просто незамінні для <br />відпочинку і навчання дитини
      </p>
      <button mat-raised-button>Детальніше</button>
    </div>
  </swiper-slide>
</swiper-container>

<div class="wraper">
  <h2 class="secion-title">
    <span class="title-icon">
      <span></span>
    </span>
    Популярні Продукти
  </h2>
  <swiper-container
    *ngIf="products"
    slides-per-view="4"
    class="popular"
    space-between="25">
    <swiper-slide *ngFor="let number of [0, 1, 2, 3, 4, 5, 6, 7]">
      <app-store-item [productData]="products[number]"></app-store-item>
    </swiper-slide>
  </swiper-container>
</div>

<div class="banner-wraper">
  <div class="photo-banner">
    <div class="banner-content">
      <div class="round-img"></div>
      <div class="banner-text">
        <h2>Все, для вашого малюка!</h2>
        <p>Обирай іграшки просто незамінні для відпочинку і навчання дитини</p>
        <button
          mat-raised-button
          [routerLink]="['/shop']">
          перейти до покупок
        </button>
      </div>
    </div>
  </div>
</div>

<div class="wraper">
  <h2 class="secion-title">
    <span class="title-icon">
      <span></span>
    </span>
    Трошки про нас
  </h2>
  <p class="about-text">
    Світ іграшок – інтернет-магазин іграшок, який піклується про щастя Ваших
    дітей.<br /><br />
    Здійснювати покупки в дитячому інтернет магазині - це свідомо вірне рішення,
    оскільки таким чином ви заощаджуєте свій час, охоплюєте максимальний
    асортимент іграшок, отримаєте детальну консультацію при необхідності. І все
    це, не виходячи з дому або офісу.<br /><br />
    Інтернет магазин іграшок та дитячих товарів Світ іграшок – це зона, де все
    ясно, зрозуміло, орієнтовано на дітей та їх батьків, і при цьому за
    розумними і приємними цінами!<br /><br />
    Незалежно від того, що ви зараз шукаєте – інтернет магазин дитячого одягу,
    магазин іграшок в Україні, на сторінках нашого каталогу ви знайдете все
    необхідне. Зручна класифікація дитячих товарів, найвища якість від відомих
    світових брендів, акції та знижки - цей простір Створено для вашого
    комфорту.Ми відстежуємо появу всіх найцікавіших новинок ринку, щоб дитячі
    мрії втілювалися в життя, як за помахом чарівної палички.
  </p>

  <h2
    class="secion-title"
    style="margin-top: 60px">
    <span class="title-icon">
      <span></span>
    </span>
    Статті та поради
  </h2>
  <swiper-container
    slides-per-view="3"
    class="blog"
    space-between="25">
    <swiper-slide>
      <div class="blog-card">
        <a
          href="#"
          class="blog-image">
          <img
            src="/assets/blog/1.jpg"
            alt="" />
        </a>
        <div class="blog-title">
          <a href="#">Подарунки дитині на перший рік</a>
        </div>
        <p>19 листопада 2023</p>
        <div class="blog-content">
          <p>
            Перший рік дитини – дуже незабутня і важлива подія не тільки в
            житті...
          </p>
        </div>
        <button mat-raised-button>Читати дальше</button>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="blog-card">
        <a
          href="#"
          class="blog-image">
          <img
            src="/assets/blog/2.jpg"
            alt="" />
        </a>
        <div class="blog-title">
          <a href="#">Ідеї ​​подарунка на Новий Рік для дівчаток</a>
        </div>
        <p>19 листопада 2023</p>
        <div class="blog-content">
          <p>
            Свята не за горами. І, зрозуміло, не лише дорослим, а й дітям
            приємно отримувати довгоочікувані сюрпризи. Якщо ви не знаєте, що
            подарувати...
          </p>
        </div>
        <button mat-raised-button>Читати дальше</button>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="blog-card">
        <a
          href="#"
          class="blog-image">
          <img
            src="/assets/blog/3.jpg"
            alt="" />
        </a>
        <div class="blog-title">
          <a href="#">Кращий подарок для юного автолюбителя</a>
        </div>
        <p>19 листопада 2023</p>
        <div class="blog-content">
          <p>
            Найкращий подарунок для юного автолюбителя Усі діти, особливо
            хлопчики,...
          </p>
        </div>
        <button mat-raised-button>Читати дальше</button>
      </div>
    </swiper-slide>
  </swiper-container>
</div>
