<swiper-container autoplay-delay="7500" speed="1000" class="banner">
    <swiper-slide class="slide1">
        <div class="text">
            <img src="/assets/main-page-slider/Ribbon.svg" alt="">
            <h1> Все,<br> для вашого малюка!</h1>
            <p>Обирай іграшки просто незамінні для <br>відпочинку і навчання дитини</p>
            <button mat-raised-button color="accent">Детальніше</button>
        </div>
    </swiper-slide>
    <swiper-slide>
        <img src="/assets/main-page-slider/slide-2.jpg" alt="">
    </swiper-slide>

</swiper-container>

<div class="wraper">
    <h2 class="secion-title">
        <span class="title-icon">
            <span></span>
        </span>
        Популярні продукти
    </h2>

    <p>main-page works!</p>

</div>

<div class="banner-wraper">
    <div class="photo-banner">
        <div class="banner-content">
            <div class="round-img"></div>
            <div class="banner-text">
                <h2>Все, для вашого малюка!</h2>
                <p>Обирай іграшки просто незамінні для відпочинку і навчання дитини</p>
                <button mat-raised-button >перейти до покупок</button>
            </div>
        </div>
    </div>
</div>