<nav>
  <div class="page-button">
    <button
      mat-button
      class="btn">
      Минулі замовлення
    </button>
    <hr />
  </div>

  <div class="page-button">
    <button
      mat-button
      class="btn">
      Змінити дані користувача
    </button>
    <hr />
  </div>
  <div class="page-button">
    <button
      mat-button
      class="btn">
      Змінити пароль
    </button>
    <hr />
  </div>
  <div class="page-button">
    <button
      routerLink=""
      mat-button
      class="btn"
      (click)="logout()">
      Вийти
    </button>
  </div>
</nav>
