<div class="wrapper">
  <div class="left-items">
    <p
      class="route"
      [routerLink]="['/shop']">
      Магазин
    </p>
    <p
      class="route"
      [routerLink]="['/']">
      Головна
    </p>
    <p
      class="route"
      [routerLink]="['/blog']">
      Блог
    </p>
    <p
      class="route"
      [routerLink]="['/about']">
      Про нас
    </p>
  </div>
  <div class="right-items">
    <button
      mat-raised-button
      class="shopping-cart"
      color="accent"
      [routerLink]="['/cart']">
      <mat-icon>shopping_cart</mat-icon>Кошик
    </button>
    <button
      mat-mini-fab
      color="accent"
      [matMenuTriggerFor]="menu"
      (click)="onUserProfile()">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button
        mat-menu-item
        [routerLink]="['/user']">
        Профіль
      </button>
      <button
        mat-menu-item
        (click)="logout()">
        Вийти
      </button>
    </mat-menu>
  </div>
</div>
